<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="23799KyleCorsi.Yu-Gi-OhTTSDeckBuilder" Publisher="CN=9A3E7E04-09CD-470A-BBA6-5BB40E83DC62" Version="1.1.5.0" />
  <mp:PhoneIdentity PhoneProductId="2ca41c6b-c7da-4f89-810b-daad2d3f67d3" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Yu-Gi-Oh TTS Deck Builder</DisplayName>
    <PublisherDisplayName>Kyle Corsi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="YuGiOh_TTS_Deck_Builder.App">
      <uap:VisualElements DisplayName="Yu-Gi-Oh TTS Deck Builder" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Program that enables users to build decks with the commonly used ygopro, and convert them to Tabletop Simulator deck files." BackgroundColor="orange">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="TGO TTS" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="orange" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>